*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: #333;
    color: #fff;
}

/*-----HEADER-----*/
.header, .header_perfil, .header_navbar{
    display: flex;
}
.header{
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #000;
    position: sticky;
    top: 0;
}
.header_perfil{
    align-items: center;
    justify-content: center;
}
.header_perfil_img{
    width: 100px;
    border-radius: 50%;
}
.header_perfil_titulo{
    margin: 0;
    text-align: center;
    font-size: 1.7rem;
    padding: 0 20px;
}
.header_navbar{
    align-items: center;
}
.header_navbar_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header_navbar_lista a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 7px transparent;
    transition: 0.5s text-shadow;
}
.header_navbar_lista li{
    list-style: none;
    font-size: 1.5rem;
}
.header_navbar_lista a:hover{
    text-shadow: 0 0 7px #fff;
}

@media screen and (max-width: 500px) {
    .header{
        flex-direction: column;
    }
    .header_navbar{
        display: none;
    }
}
/*-----MAIN_PRESENTACION-----*/

.presentacion{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.presentacion_titulo{
    font-size: 2.5rem;
    color: #6e3af5;
    text-shadow: 0 0 20px #6e3af5;
}
.presentacion_texto{
    font-size: 1.4rem;
    text-align: pretty;
    line-height: 1.6;
}
/*MIAN_TECNOLOGIAS*/
.tecnologias{
    max-width: 900px;
    margin: auto;
}
.tecnologias_titulo{
    font-size: 2.5rem;
    color: #6e3af5;
    text-shadow: 0 0 20px #6e3af5;
    padding: 10px;
}
.tecnologias_container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.tecnologias_item{
    min-width: 250px;
    height: 250px;
    background-image: url("https://imgs.search.brave.com/CZkuALz-BPGJSoxzUVUfzcPFoU_CKMAmKB7b7z4_2aQ/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL3RodW1icy82/MmE4NmVmYTE0YTM4/Y2NlMGMzNzFjMTEu/cG5n");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 30px #6e3af5;
    border-radius: 50%;
}
.tecnologias_item--2{
    background-image: url("https://imgs.search.brave.com/eSCkkjm6BCMGVpeVcD79ltIJ9jkoFqRs8qIBofMX7fw/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9zZWVr/dmVjdG9ycy5jb20v/c3RvcmFnZS9pbWFn/ZXMvQ1NoYXJwLTAx/LnN2Zw");
}
.tecnologias_item--3{
    background-image: url("https://imgs.search.brave.com/lVlq-9U-DD3GVacILuZMhMoScwx6imJ8fWkjmctmSHc/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc2Vla2xvZ28u/Y29tL2xvZ28tcG5n/LzkvMi9teXNxbC1s/b2dvLXBuZ19zZWVr/bG9nby05NjU3OC5w/bmc");
}
.tecnologias_item--4{
    background-image: url("https://imgs.search.brave.com/PtxEKKFLT75eo4D37tO_Cw4AUnQuBM0esHnuRBKHxFU/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc2Vla2xvZ28u/Y29tL2xvZ28tcG5n/LzIwLzIvaHRtbDUt/bG9nby1wbmdfc2Vl/a2xvZ28tMjA2ODM0/LnBuZw");
}
.tecnologias_item--5{
    background-image: url("https://imgs.search.brave.com/CmQeDt2xL4gk-_NSA2UbhG9K5Rv6GQSdRe_DHWJXEkw/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9jZG4u/ZnJlZWJpZXN1cHBs/eS5jb20vbG9nb3Mv/bGFyZ2UvMngvY3Nz/My1sb2dvLXBuZy10/cmFuc3BhcmVudC5w/bmc");
}
.tecnologias_item--6{
    background-image: url("https://imgs.search.brave.com/19m5lkKcwINfH_XJZvBnVJPhbP_6Xd_BVQfD9Rrcv4A/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuc2Vla2xvZ28u/Y29tL2xvZ28tcG5n/LzM4LzIvc3ByaW5n/LWJvb3QtbG9nby1w/bmdfc2Vla2xvZ28t/Mzg1NTAzLnBuZw");
}
.tecnologias_item--7{
    background-image: url("https://imgs.search.brave.com/4KsWlin3_5Ctv0Mr6yMjbaW8xDKcYE0vrfbcDV-VjJM/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9sb2dv/c3BuZy5vcmcvZG93/bmxvYWQvamF2YXNj/cmlwdC9sb2dvLWph/dmFzY3JpcHQtaWNv/bi0yNTYucG5n");
}
/*-----MAIN-PROYECTOS-----*/
.proyectos_titulo{
    max-width: 900px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 150px;
    font-size: 2.5rem;
    color: #6e3af5;
    text-shadow: 0 0 20px #6e3af5;
    padding: 10px;
}
.proyectos_container{
    margin: auto;
    margin-top: 50px;
    width: 80%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 250px);
    margin-bottom: 150px;
}
.proyecto_link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    background-color: #6e3af5;
    border-radius: 16px;
    outline: 5px solid transparent;
    transition: 0.5s outline;
}
.proyecto_link:hover{
    outline: 5px solid #ede;
}

.proyecto_link:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
    .proyecto_link:nth-child(3){
        grid-row: span 2;
    }
    .proyecto_link:last-child{
        grid-column: span 3;
    }
@media screen and (max-width: 900px){
    .proyectos_container{
        grid-template-columns: 1fr;
        grid-auto-rows: 100px;
    }
    .proyecto_link:first-child{
        grid-column: auto;
        grid-row: auto;
    }
    .proyecto_link:nth-child(3){
        grid-row: auto;
    }
    .proyecto_link:last-child{
        grid-column: auto;
    }
    
}